<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark elegant-color fixed-top scrolling-navbar justify-content-center">
  <links>
    <div class="navbar-nav m-auto w-100 justify-content-center align-items-stretch">
      <div class="nav-item active d-flex align-items-stretch">
        <a class="nav-link waves-light w-100 d-flex justify-content-center align-items-center"
            mdbRippleRadius routerLink="/home" routerLinkActive="active">
          Home
        </a>
      </div>
      <div class="nav-item d-flex align-items-stretch">
        <a class="nav-link waves-light w-100 d-flex justify-content-center align-items-center namp"
            mdbRippleRadius routerLink="/About" routerLinkActive="active">
          Cover <br /> letter
        </a>
      </div>
      <div class="nav-item d-flex align-items-stretch">
        <a class="nav-link waves-light w-100 d-flex justify-content-center align-items-center"
            mdbRippleRadius routerLink="/About" routerLinkActive="active">
          Education
        </a>
      </div>
      <div class="nav-item d-flex align-items-stretch">
        <a class="nav-link waves-light w-100 d-flex justify-content-center align-items-center amp"
            mdbRippleRadius routerLink="/portofolio" routerLinkActive="active">
          Leadership <br /> Coaching
        </a>
      </div>
      <div class="nav-item d-flex align-items-stretch">
        <a class="nav-link waves-light w-100 d-flex justify-content-center align-items-center"
            mdbRippleRadius routerLink="/portofolio" routerLinkActive="active">
          Portfolio
        </a>
      </div>
      <div class="nav-item d-flex align-items-stretch">
        <a class="nav-link waves-light w-100 d-flex justify-content-center align-items-center"
            mdbRippleRadius routerLink="/interests" routerLinkActive="active">
          Interests
        </a>
      </div>
      <div class="nav-item d-flex align-items-stretch">
        <a class="nav-link waves-light w-100 d-flex justify-content-center align-items-center amp"
            mdbRippleRadius routerLink="/interests" routerLinkActive="active">
          Awards <br /> Contests
        </a>
      </div>
    </div>
  </links>
</mdb-navbar>
