<div id="headerwrap">
  <div class="container">
    <div class="row centered">
      <div class="col-lg-12">
        <h1>Tomasz Stelągowski</h1>
        <div class="row">
          <div class="col row align-items-center">
            <h3 class="col text-right">Software engineer</h3>
          </div>
          <div class="col border-left border-current">
            <div class="row">
              <div class="col-12 text-left"><h3><i class="pr-3 fa fa-at"></i>tomasz.stelagowski@gmail.com</h3></div>
              <div class="col-12 text-left"><h3><i class="pr-3 fa fa-phone"></i>662 769 803</h3></div>
              <div class="col-12 text-left"><h3><a target="_blank" href="http://www.linkedin.com/in/tomasz-stelagowski"><i class="pr-3 fa fa-linkedin"></i>tomasz-stelagowski</a></h3></div>
              <div class="col-12 text-left"><h3><a target="_blank" href="https://github.com/tomasz-stelagowski"><i class="pr-3 fa fa-github"></i>github.com/tomasz-stelagowski</a></h3></div>
            </div>
          </div>
        </div>
        <!-- <h3>Software engineer | tomasz.stelagowski@gmail.com</h3> -->
      </div><!--/.col-lg-12 -->
    </div><!--/.row -->
  </div><!--/.container -->
</div>
<cv-section [sectionname]="'ABOUT ME'" class="theme-dark">
  <cv-section-item>
    <p desc>
      I am a young developer, interested in web technologies, like Angular5. I am especially interested in functional, and reactive programming in building modern UX. My interdisciplinary studies in Psychology and IT help me look at projects not only as a skilled developer but also as a psychologist specialising in social psychology.
      <br/>My 4 years experience in students organisation AIESEC let me also acquire great team leadership skills and public speaking skills.
    </p>
    <p info>
      <a href="assets/cv/eng_printable.pdf" target="_self" download="Tomasz_Stelagowski_CV.pdf">
        <i class="px-4 flag-icon flag-icon-gb"></i><sm>DOWNLOAD CV</sm>
      </a>
    </p>
  </cv-section-item>
</cv-section>
<cv-section [sectionname]="'EMPLOYMENT'">
    <cv-section-item>
      <ng-container desc>
        <cv-title>Eracent Sp. z o.o.</cv-title> <br />
        Software developer <br />
        <p class="pt-2">
          <i>Technologies: </i> Angular 5, BackboneJS, Bootstrap 4, Angular Material, .NET MVC, Python  <br />
        </p>
        <ul>
          <li>Allocation Engine: Designed highly modular, system, for automatic software to license allocation problem.</li>
          <li>Visual web editor for SQL: Designed architecture and UI, using Angular 5, NgRedux, Bootstrap4, Angular Material.</li>
          <li>Designed BackboneJS based architecture for Front-End Part of new application and implemented it.</li>
          <li>Rewritten whole application front-end from .NET MVC to Angular 5 with KendoUI –app consisted product grids, members management, authorization and authentication etc.</li>
        </ul>
      </ng-container>
      <p info>
        <cv-data [startDate]="'May 2017'" [endDate]="'now'"></cv-data>
      </p>

    </cv-section-item>

    <cv-section-item>
      <ng-container desc>
        <cv-title>Accenture</cv-title> <br />
        Front-End Developer <br />
        <p class="pt-2">
          <i>Technologies: </i> BackboneJS, HTML5, CSS3<br />
        </p>
        <ul>
          <li>Designed pageable infinite scroll component. </li>
          <li>Implemented several views and components for CRM application product. </li>
          <li>Ported Web Application to tablets using Android studio. </li>
        </ul>
      </ng-container>
      <p info>
        <cv-data [startDate]="'May 2016'" [endDate]="'February 2017'"></cv-data>
      </p>

    </cv-section-item>
</cv-section>

<cv-section [sectionname]="'EDUCATION'">
    <cv-section-item>
      <ng-container desc>
        <cv-title>Computer Science</cv-title> <br />
        <span>UNIVERSITY OF WARSAW</span>
        <p class="pt-2">
          <i>Pursuing Bachelor`s degree, 3-year course.</i>
        </p>
      </ng-container>
      <p info>
        <cv-data [startDate]="'Fall 2015'" [endDate]="'now'"></cv-data> <br />
        <tt>Graduating in Spring 2018</tt>
      </p>

    </cv-section-item>

    <cv-section-item>
      <ng-container desc>
        <cv-title>Psychology</cv-title> <br />
        <span>UNIVERSITY OF WARSAW</span>
        <p class="pt-2">
          <i>Pursuing Master`s degree, 5-year course. </i><br />
          <i>Major in "Coaching and Personal Development" and "Industrial-Organizational Psychology".</i>
        </p>
      </ng-container>
      <p info>
        <cv-data [startDate]="'Fall 2013'" [endDate]="'now'"></cv-data> <br />
        <tt>Graduating in Spring 2018</tt>
      </p>

    </cv-section-item>
</cv-section>

<cv-section [sectionname]="'AWARDS & CONTESTS'" [sectionId]="'awards'">
    <cv-section-item>
      <ng-container desc>
        <cv-title>Olimpiad in Informatics</cv-title> <br />
        <span>for College Students - OIG</span>
        <p class="pt-2">
          <i>4th place laureate achieved</i>
        </p>
      </ng-container>
      <p info>
        2008, III OIG
      </p>

    </cv-section-item>

    <cv-section-item>
      <ng-container desc>
        <cv-title>Hashcode</cv-title> <br />
        <span>Online Qualification Round</span>
        <p class="pt-2">
          <i>Rank #517</i>
        </p>
      </ng-container>
      <p info>
        March 2018
      </p>

    </cv-section-item>
</cv-section>
